@switch (viewKind()) {
@case ('INDEX') {
<app-index
  [currentSheet]="currentSheet()"
  [rows]="indexRows()"
  [isAddingEntry]="isAddingEntry()"
  (closeEntry)="closeEntry.emit()"
/>
}
@case ('CONCEPTS') {
<app-concepts
  [rows]="conceptRows()"
  [currentSheet]="currentSheet()"
  [isAddingEntry]="isAddingEntry()"
  (closeEntry)="closeEntry.emit()"
/>
}
@case ('QUOTES') {
<app-quote-gallery [rows]="quoteRows()" />
}
@default {
<p class="unsupported-sheet">{{ 'CATALOG_DETAIL.UNSUPPORTED_SHEET' | transloco }}</p>
}
}